body {
  background: #333;
  color: #fff;
}
#user-img {
  margin-top: -96px;
}
.navbar {
  border-bottom: #0a79df solid 3px;
  opacity: 0.8;
}
#home-section {
  position: relative;
  background: url(../../../assets/images/mountain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}
#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
}
#home-section .home-inner {
  padding-top: 150px;
}
#home-section .card-form {
  opacity: 0.7;
}
#home-section .fas {
  color: dodgerblue;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}
