<mat-expansion-panel #mep="matExpansionPanel" class="mb-1">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ note.title }}
    </mat-panel-title>
    <mat-panel-description>
      <p class="d-none d-md-block badge badge-info">Created on: {{ note.createdAt | date }}</p>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>{{ note.content }}</p>
  <mat-action-row>
    <button class="btn btn-primary mr-1" (click)="onEdit(note)">Edit</button>
    <button class="btn btn-danger mr-1" (click)="onDelete(note._id)">Delete</button>
    <button class="btn btn-dark" (click)="mep.expanded = false;editMode = false">Close</button>
  </mat-action-row>
</mat-expansion-panel>